<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
	<title>Document</title>
</head>
<body v-cloak>

	<style>
		.slide-enter-active, .slide-leave-active {
			transition: color .5s,opacity .5s;
		}
		.slide-enter, .slide-leave-active {
			color: green;
			opacity: 0;
		}
		#toggle{
			margin-top: 10px;
		}
	</style>

	<div class="app">{{message}}</div>
	<p v-cloak id="app-3" v-if="seen">you can see me</p>
	<a id="app4" v-bind:href="link" v-bind:style="style" >this is a link to hzc</a>
	<div id="toggle">
		<button v-on:click="show=!show">toggle</button>
		<transition name=slide>
			<h1 v-if="show">see/nosee</h1>
		</transition>
	</div>

	<div class="static" v-bind:class="{ active: isActive, 'text-danger': hasError }">class true or false</div>
	

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script>
		var apps = new Vue({
			el:'.app',
			data:{
				message:'Hello Vue!'
			}
		})
		var app3 = new Vue({
			el: '#app-3',
			data: {
				seen: true
			}
		})
		var app4 = new Vue({
			el:'#app4',
			data:{
				link:"http://www.huizuche.com",
				style:"color:red"
			}
		})
		var app5 = new Vue({
			el:"#toggle",
			data:{
				show:true
			}
		})
        var app6 = new Vue({
        	el:".static",
        	data:{
			isActive: true,
			hasError: false
		}
        })
		
	</script>
</body>
</html>